@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Noto Sans JP', sans-serif;;
}
.container {
    display: flex;
    flex-flow: wrap;
    font-size: 4.3rem;    
}
.c1, .c2, .c3, .c4, .c5 {
    width: 100%;
    /* height: 540px; */
    text-align: center;
    height: 40vh;
    /* max-height:  500px; */
}
.c1 {
    background-color: rgb(49, 92, 231);
    order: 1;
    height: 20vh;
    
}
.c2 {
    background-color: purple;
    order: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.c3 {
    background-color: green;
    order: 4;
}
.c4 {
    background-color: rgb(57, 101, 247);
    order: 2;
}
.c5 {
    background-color: rgb(71, 71, 71);
    order: 0;
    height: 20vh;
    color: white;
}
.c5-container {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.c5-container li {
    display: inline-flex;
    list-style: none;
    margin: 0 12px;
}
input {
    background-color: rgba(228, 220, 220, 0.521);
    color: white;
    border-radius: 40px;
    height: 35px;
    padding-left: 12px;
    padding-right: 12px;
    width: 70%;
    border-style: none;
}
::placeholder {
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans JP', sans-serif;
    /* font-weight: bold; */
}
p {
    margin-top: 1.2rem;
    font-size: 2.6rem;
}
h6 {
    font-size: 1.2rem;
    font-weight: normal;
}

.c2-container__picture, img {
    /* background-color: red; */
    /* width: 230px;*/
    /* height: 100px; */
    width: 25%;
    border-radius: 40px;
}

@media (min-width: 600px) {
    .c1 {
        width: 25%;
        height: 40vh;
    }
    .c2 {
        height: 50vh;
    }
    .c4 {
        width: 75%;
    }
}

@media (min-width: 800px) {
    .container {
        width: 900px;
        margin: auto;
    }
    .c5{
        order: 1;
    }
    .c1{
        order: 2;
    }
    .c4{
        order: 3;
    }
    .c2 {
        order: 5;
        height: 50vh;
    }
    .c3 {
        order: 6;
    }
}